//Variables

$primary: #B79E9B;
$seocndary: #B9BACE;
$mainColor: #89988E;
$box-shadow: .5rem .5rem 1rem rgb(maincolor, .65);

$headings-font-family: 'Poppins';
$headings-font-weight: 700;
$headings-color: $mainColor;
$nav-pills-link-active-color: $mainColor;

$lightGray: #D3BEBC;
$lightYellow: #B0BDB5;
$darkGrey: #222222; 


//import bootstrap

@import "bootstrap/scss/bootstrap"; 


//start the colorization

html {
    box-sizing: border-box; 
    font-family: 'Poppins', Arial, Tahoma, sans-serif;
}

*{
    box-sizing: inherit;
}

body{
    background-color: $slightYellow;
    color: #424242;
}

header {
    background-color: $darkGrey;
    color: $primary;
}

p {
       color: $lightYellow; 
}

h1, #pageTitle{
    font-family: 'Poppins', cursive;
    font-size: 1.7rem;
}

div > h2{
    color: $primary;
}

.blockquote{
    font-family: 'Poppins', cursive;
    font-size: 1.7rem;
}

.btn-cta {
    @include button-variant(lighten($primary, 30%), $primary);
    box-shadow: 3px 3px 5px $primary;
}

.hover:hover, .hover:focus {
    background-color: $primary;
}


